/* タブ */
.tab-menu {
    text-align: center;
    margin-top: 20px;
}

.tab-menu a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
    color: #555;
}

.tab-menu .active {
    color: #d33;
    border-bottom: 2px solid #d33;
}

/* 商品一覧 */
.products-container {
    max-width: 1374px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    /* 複数行対応 */
    gap: 30px;
}

.product-card {
    width: calc((100% - 90px) / 4);
    /* gap 30px × 3 = 90px */
    text-decoration: none;
    color: #000;
}

.product-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-img {
    color: #444;
    font-size: 16px;
}

.product-name {
    margin-top: 8px;
    font-size: 14px;
}