body {
    margin: 0;
    background-color: #fff;
    font-family: "Hiragino Sans", "Noto Sans JP", sans-serif;
}

/* ヘッダー */
.auth-header {
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
}

.auth-header-inner {
    margin-left: 30px;
}

.auth-header img {
    height: 30px;
}

/* メイン */
.verify-wrapper {
    max-width: 800px;
    margin: 120px auto 0;
    text-align: center;
}

.verify-text {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.verify-button {
    display: inline-block;
    padding: 10px 28px;
    border-radius: 6px;
    border: 1px solid #999;
    background: #eee;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.verify-resend {
    margin-top: 20px;
    font-size: 13px;
}

.resend-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    color: #1e6bd6;
    /* 青字 */
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.resend-link:hover {
    text-decoration: underline;
}